body {
    font-family: "Gill Sans", sans-serif;
    height: 100%;
    font-size: 20px;
    color: aliceblue;
}

#wrapper {  
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    border-radius: 10px;
    border: 4px solid #2f607e;
    background-color: #6A5ACD;
    padding: 5px;
    padding-left: 0px;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#name {
    font-size: 28px;
}

#degree {
    font-size: 35px;
    margin-bottom: 0px;
}

#status {
    margin: 0px;
}

#forecast {
    display: flex;
    
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.day {
    margin: 5px;
}
.now{
    margin: 0px;
    border: 3px solid  #7f73d2;
    border-radius: 15px;
    width: 100%;
}

.now p{
    font-size: 28px;
}